<!DOCTYPE html>

<html>
	<head>
		{% load staticfiles %}
		<title>Scales</title>

		<link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">

	</head>

	<body style="padding-top: 50px">
		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Plates - A Kitchen Necessity</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="active" ><a href="/scales">Scales</a></li>
						<li><a href="/items">Items</a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>

		<div class="container">

			<div class="starter-template">
				<h1>Scales</h1>
        <hr />

				{% if scales %}
                    <div class="row">
					{% for scale in scales %}

                      <div class="col-sm-6 col-md-4">
                        <div class="thumbnail" min-height="400px" height="400px">
                          <img width="100px" height="200px" src="{% static "res/images/"%}{{ scale.image_name }}" alt="...">
                          <div class="caption">
                            <h3>{{ scale.name }}</h3>
                            <h4><a href="/items/{{ scale.item.item_id }}" >{{ scale.item.name}}</a></h4>
                            {% if scale.quantity and scale.item %}
                                <p>{{ scale.quantity }} / {{ scale.item.mass }} grams</p>
                            {% endif %}
                          </div>
                        </div>
                      </div>

                    {% endfor %}
                    </div>
				{% else %}
				<p>No scales are available.</p>
				{% endif %}
				</div>

			</div>

		</div><!-- /.container -->


		<!-- Bootstrap core JavaScript
	  ================================================== -->
	  <!-- Placed at the end of the document so the pages load faster -->
	  <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
	</body>

</html>
